header.title{  background: #0F132A; opacity: 0.8; position: fixed; padding: 0; margin: 0}
.banner{background: url(../images/banContact.jpg) no-repeat; background-position: center center;
    height: 320px;font-size: 38px; color: #fff;text-align: center;
    padding-top: 130px; margin-bottom: 40px}

section dl{font-size: 28px; color: #222222; padding-bottom: 20px; width: 400px}
section p{padding-top: 14px; font-size: 14px;color: #777777; width:400px;}
.ditu{width: 100%; margin-top: 80px;}
.erweima{background: url(../images/contactBotBg2.jpg); height: 500px; width: 100%;}

.footerBg{ background:#333333; font-size:12px; color:#777777; line-height:26px; padding:20px 0;}
.footTop{ padding:40px 0;}
.footTopR{ float:right;}
.kefu{ display:block; float:right; width:126px; height:38px; line-height:38px; margin-bottom:20px;
    background:#df292e; color:#FFFFFF; border-radius:5px; text-align:center;}
.kefu:hover{ color:#FFFFFF;}
.fTel{ font-size:34px; color:#FFFFFF; line-height:150%;}
.footLink{ font-size:0;}
.footLink li{ vertical-align:top; font-size:12px; margin-right:60px; max-width:150px;}
.footLink li:last-child{ margin-right:0;}
.footLink h3 a{ font-size:16px; font-weight:bold; line-height:200%; color:#eeeeee;}
.footSub{ padding:20px 0 0;}
.footSub a{ font-size:12px; color:#777777; line-height:26px;}
.footSub a:hover{ color:#FFFFFF; transition:all 0.3s ease 0s;}
.footBot{ font-size:12px; color:#777777; padding:40px 0; border-top:1px solid rgba(255,255,255,0.1);}
.footBot a{ color:#777777;}
.footLogo{ float:right; padding-left:10px;}
.footBot p{ line-height:24px; padding:9px 0;}


